body {
  text-align: center;
  background: linear-gradient(to right, rgb(217, 167, 199), rgb(255, 252, 220));
}

h1 {
  font-family: cursive;
  font-weight: lighter;
  margin: 40px;
}

.gameon {
  font-size: 20px;
}

.level button {
	width:100px;
	height:35px;
  color: rgb(175, 109, 109);
  font-size: 15px;
  margin: 20px;
  cursor: pointer;
}

.smiley {
  font-size: 20px;
  cursor: pointer;
}

table {
  margin: 0 auto;
}

table tr {
  box-shadow: inset 1px 1px 5px #888;
  display: block;
}

.board td {
    width: 45px;
    height: 45px;
    font-size: 20px;
    background-color: rgb(128, 121, 128);
    cursor: pointer;
}

.board td:hover {
  background-color: rgb(131, 117, 131);
}

